@{
    ViewData["Title"] = "سامانه مدیریت پرسنل";
    Layout = "~/Views/Shared/_SingleLayout.cshtml";
}


<h1>Candidate</h1>
<div class="error-divider">
    <h2>سامانه مدیریت پرسنل</h2>
    <p class="description">شرکت پیشتازان اقتصاد پویا</p>
</div>
<a href="/Swagger" class="return-btn">Swagger Document</a>